* {
  margin: 0;
  padding: 0;
  border: none;
}
.box-center {
  max-width: 100%;
  margin: 0 auto;
}
/* header */
.background {
  background-image: url(photo-2-15331706026931098838697.jpg);
  height: 256px;
  width: 100%;
  background-repeat: no-repeat;
}
.background > div > h1 {
  width: auto;
  text-align: center;
  font-weight: bold;
  font-family: Roboto;
  font-size: 40px;
  line-height: 47px;
  color: #bf7911;
}
.background > div > h3 {
  width: auto;
  text-align: center;
  font-weight: normal;
  color: rgb(133, 190, 192);
  margin-top: 10px;
}
.background > img {
  padding-top: 0;
}
/* nav */
.top-right {
  position: absolute;
  top: 10;
  left: 680;
  padding: 2 0 auto;
}

nav {
  line-height: 50px;
  background-color: rgba(240, 17, 29, 0.925);
}
nav ul {
  display: inline-block;
}
nav > ul > a {
  position: relative;
  text-decoration: none;
  padding: 15px;
  color: white;
  left: 450;
}
nav > ul > a:hover {
  position: relative;
  border: 1px solid rgba(155, 14, 21, 0.925);
  background-color: rgba(155, 14, 21, 0.925);
}

.top-right a {
  position: relative;
  text-decoration: none;
  padding-right: 20;
  color: white;
  left: 500;
}
/* footer */
.box-center > footer {
  position: relative;
  padding-top: 10px;
  line-height: 30px;
  background-color: black;
  color: white;
}
footer > span {
  position: relative;
  padding-top: -5px;
  margin-top: -60px;
}
.i4 {
  float: right;
}
/* article */
.box {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(14, 11, 11);
  background-color: white;
}
.box > img {
  width: 25%;
  margin-top: 10px;
  margin-left: 10px;
}
.information {
  max-width: 70%;
  width: 70%;
  float: right;
}
.information > legend {
  font-weight: bold;
  margin-top: 15px;
  font-size: 30px;
}
.information > div > div {
  margin-top: 11px;
  font-size: 25px;
}
.gioithieu > fieldset {
  border: 1px solid red;
  max-width: 70%;
  margin-left: 28px;
  padding: 10px;
  margin-top: 20px;
}
.gioithieu > fieldset > legend {
  border: 1px solid red;
  background-color: red;
  font-weight: bold;
  color: white;
  padding: 10px;
}
.gioithieu p {
  margin: 10px;
}
.information a {
  position: absolute;
  text-decoration: none;
  max-width: 30%;
  margin-top: 10px;
  padding: 10px 30px 10px 30px;
  text-align: center;
  background-color: red;
  color: white;
  font-size: 20px;
}
.information a:hover {
  background-color: black;
}
/* Search */
* {
  outline: none;
}

body {
  background-color: #ffd8d8;
  margin: 0;
  padding: 0;
}

.tb {
  display: table;
  width: 100%;
}

.td {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  top: -35;
}

input,
button {
  color: fff;
  font-family: Nunito;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}

#cover {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  width: 550px;
  padding: 20px;
  margin: -83px auto 0 auto;
  background-color: #2917178f;
  border-radius: 90px;
  box-shadow: 0 1px 1px #1f0202;
  transform: scale(0.6);
}

form {
  height: 20px;
}

input[type="text"] {
  width: 100%;
  height: 30px;
  font-size: 22px;
  line-height: 1;
}

input[type="text"]::placeholder {
  color: #e9dcdc;
}

#s-cover {
  width: 1px;
  padding-left: 35px;
}

button {
  position: relative;
  display: block;
  width: 50px;
  height: 90px;
  cursor: pointer;
}

#s-circle {
  position: relative;
  top: -8;
  left: 20;
  width: 13px;
  height: 13px;
  margin-top: 0;
  border-width: 15px;
  border: 3px solid #fff;
  background-color: transparent;
  border-radius: 50%;
  transition: 0.5s ease all;
}

button span {
  position: absolute;
  top: 40px;
  left: 43px;
  display: block;
  width: 12px;
  height: 19px;
  background-color: transparent;
  border-radius: 10px;
  transform: rotateZ(52deg);
  transition: 0.5s ease all;
}

button span:before,
button span:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20px;
  height: 2px;
  background-color: #fff;
  border-radius: 90px;
  transform: rotateZ(0);
  transition: 0.5s ease all;
}
